---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import city from '../images/city.png'

---

<Layout title="Welcome to Astro.">
	<main>
		<Picture
			formats={['webp', 'png']}
			widths={[500, 1000, 1300]}
			src={city}
			alt=""
		/>

	</main>
</Layout>

